/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

#info {
    position: fixed;
    top: 10px;
    right: 10px;

    max-width: 30%;
    padding: 1em;
    border-radius: 2px;

    background-color: rgba(23, 23, 23, 0.594);
    color: rgb(215, 215, 215);
}